<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154304340671-et28gcuor3m43jgd4jl73djpuafmpanq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154304340671-et28gcuor3m43jgd4jl73djpuafmpanq</string>
	<key>API_KEY</key>
	<string>AIzaSyCBQQ8UD3EkBVeZkYC8ISMt1KU008JfJkw</string>
	<key>GCM_SENDER_ID</key>
	<string>154304340671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canteen.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodshop-9efb9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodshop-9efb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154304340671:ios:e3bae67571faff80975c0a</string>
</dict>
</plist>